In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'DATA/Advertising.csv')

In [4]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
X = df.drop('sales',axis=1)
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(X_train)

StandardScaler()

In [11]:
X_train = scaler.transform(X_train)

In [12]:
X_test = scaler.transform(X_test)

In [13]:
from sklearn.linear_model import Ridge

In [14]:
model = Ridge(alpha=100)

In [15]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [16]:
y_pred = model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(y_test,y_pred)

7.34177578903413

In [19]:
model_two = Ridge(alpha=1)
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [20]:
y_pred_two = model_two.predict(X_test)

In [21]:
mean_squared_error(y_test,y_pred_two)

2.3190215794287514

### TRAIN VALIDATE TEST

In [22]:
df = pd.read_csv(r'DATA/Advertising.csv')
X = df.drop('sales',axis=1)
y = df['sales']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [25]:
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state=101)

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()

In [28]:
scaler.fit(X_train)

StandardScaler()

In [29]:
X_test

        TV  radio  newspaper
18    69.2   20.5       18.3
190   39.5   41.1        5.8
9    199.8    2.6       21.2
25   262.9    3.5       19.5
42   293.6   27.7        1.8
170   50.0   11.6       18.4
180  156.6    2.6        8.3
153  171.3   39.7       37.7
109  255.4   26.9        5.5
129   59.6   12.0       43.1
22    13.2   15.9       49.6
158   11.7   36.9       45.2
43   206.9    8.4       26.4
65    69.0    9.3        0.9
31   112.9   17.4       38.6
50   199.8    3.1       34.6
164  117.2   14.7        5.4
141  193.7   35.4       75.6
36   266.9   43.8        5.0
175  276.9   48.9       41.8
172   19.6   20.1       17.0
32    97.2    1.5       30.0
74   213.4   24.6       13.1
89   109.8   47.8       51.4
125   87.2   11.8       25.9
15   195.4   47.7       52.9
196   94.2    4.9        8.1
149   44.7   25.8       20.6
12    23.8   35.1       65.9
90   134.3    4.9        9.3

In [30]:
X_train = scaler.transform(X_train)

In [31]:
X_test = scaler.transform(X_test)

In [32]:
X_eval = scaler.transform(X_eval)

In [33]:
from sklearn.linear_model import Ridge

In [34]:
model_one = Ridge(alpha=100)

In [35]:
model_one.fit(X_train,y_train)

Ridge(alpha=100)

In [36]:
y_eval_pred = model.predict(X_eval)

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_squared_error(y_eval,y_eval_pred)

7.320101458823871

In [39]:
model_two = Ridge(alpha=1)

In [40]:
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [41]:
new_pred_eval = model_two.predict(X_eval)

In [42]:
mean_squared_error(y_eval,new_pred_eval)

2.3837830750569853

In [43]:
y_final_test_pred = model_two.predict(X_test)

In [44]:
mean_squared_error(y_test,y_final_test_pred)

2.2542600838005176

### CROSS VALIDATION

In [45]:
df = pd.read_csv(r'DATA/Advertising.csv')
X = df.drop('sales', axis=1)
y = df['sales']

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=.3, random_state=101)

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
scaler = StandardScaler()

In [50]:
scaler.fit(X_train)

StandardScaler()

In [51]:
X_train = scaler.transform(X_train)

In [52]:
X_test = scaler.transform(X_test)

In [53]:
model = Ridge(alpha=100)

In [54]:
from sklearn.model_selection import cross_val_score

In [55]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [56]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [57]:
abs(scores.mean())

8.215396464543606

In [58]:
model = Ridge(alpha=1)

In [59]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [60]:
abs(scores.mean())

3.344839296530695

In [61]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [62]:
y_final_test_pred = model.predict(X_test)

In [63]:
mean_squared_error(y_test,y_final_test_pred)

2.3190215794287514

### CROSS VALIDATE FUNCTION

In [64]:
df = pd.read_csv(r'DATA/Advertising.csv')
X = df.drop('sales',axis=1)
y = df['sales']

In [65]:
# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [66]:
from sklearn.model_selection import cross_validate

In [67]:
model = Ridge(alpha=100)

In [68]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [69]:
scores = pd.DataFrame(scores)
scores.mean()

fit_time                        0.000425
score_time                      0.000288
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [70]:
model = Ridge(alpha=1)
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)
scores = pd.DataFrame(scores)
scores.mean()

fit_time                        0.000438
score_time                      0.000279
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [71]:
model.fit(X_train,y_train)
y_final_pred = model.predict(X_test)
mean_squared_error(y_test, y_final_pred)

2.3190215794287514

### GRID SEARCH

In [72]:
df = pd.read_csv(r'DATA/Advertising.csv')
#Create X and Y
X = df.drop('sales',axis=1)
y = df['sales']

#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

#SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [73]:
from sklearn.linear_model import ElasticNet
base_elastic_net_model = ElasticNet()
param_grid = {'alpha': [0.1,1,5,10,50,100], 'l1_ratio': [.1,.5,.7,.95,.99,1]}

In [76]:
from sklearn.model_selection import GridSearchCV
grid_model = GridSearchCV(estimator=base_elastic_net_model, 
                          param_grid=param_grid, 
                          scoring='neg_mean_squared_error',
                          cv=5, verbose=1)

In [77]:
grid_model.fit(X_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [78]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [79]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [81]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001941,0.000715,0.000682,0.000187,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,6
1,0.000807,0.000210,0.000300,0.000042,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
2,0.000592,0.000005,0.000254,0.000004,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
3,0.000712,0.000099,0.000296,0.000036,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
4,0.000666,0.000030,0.000284,0.000016,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2
5,0.000594,0.000019,0.000254,0.000008,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
6,0.000557,0.000035,0.000237,0.000015,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-9.827475,-5.261525,-11.875347,-7.449195,-8.542329,-8.591174,2.222939,12
7,0.000522,0.000004,0.000220,0.000002,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-8.707071,-4.214228,-10.879261,-6.204545,-7.173031,-7.435627,2.255532,11
8,0.000513,0.000013,0.000214,0.000008,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-7.920870,-3.549562,-10.024877,-5.379553,-6.324836,-6.639940,2.206213,10
9,0.000448,0.000021,0.000191,0.000010,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-6.729435,-2.591285,-8.709842,-4.156317,-5.329916,-5.503359,2.102835,9
10,0.000429,0.000005,0.000183,0.000003,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-6.521344,-2.431385,-8.471086,-3.946327,-5.151344,-5.304297,2.079945,8
11,0.000410,0.000013,0.000172,0.000009,1,1,"{'alpha': 1, 'l1_ratio': 1}",-6.468807,-2.391483,-8.410171,-3.893566,-5.105922,-5.253990,2.073832,7
12,0.000381,0.000017,0.000160,0.000005,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",-22.979265,-15.547104,-23.668249,-19.921063,-16.262737,-19.675684,3.334901,13
13,0.000362,0.000001,0.000156,0.000003,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",-27.793488,-18.602269,-27.107849,-23.945227,-18.064635,-23.102694,4.108297,14
14,0.000364,0.000013,0.000154,0.000006,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",-29.655510,-21.085059,-29.629478,-26.724595,-20.223654,-25.463659,4.077877,16
15,0.000361,0.000035,0.000147,0.000008,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
16,0.000324,0.000002,0.000138,0.000002,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
17,0.000314,0.000003,0.000138,0.000004,5,1,"{'alpha': 5, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
18,0.000320,0.000011,0.000137,0.000006,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",-27.385346,-19.159534,-27.635464,-24.154104,-18.968161,-23.460522,3.794608,15
19,0.000363,0.000046,0.000143,0.000013,10,0.5,"{'alpha': 10, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
20,0.000328,0.000019,0.000135,0.000003,10,0.7,"{'alpha': 10, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
21,0.000312,0.000001,0.000134,0.000002,10,0.95,"{'alpha': 10, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
22,0.000314,0.000002,0.000134,0.000002,10,0.99,"{'alpha': 10, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
23,0.000313,0.000004,0.000135,0.000002,10,1,"{'alpha': 10, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
24,0.000407,0.000060,0.000165,0.000032,50,0.1,"{'alpha': 50, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
25,0.000337,0.000012,0.000141,0.000004,50,0.5,"{'alpha': 50, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
26,0.000324,0.000002,0.000137,0.000002,50,0.7,"{'alpha': 50, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
27,0.000325,0.000007,0.000139,0.000004,50,0.95,"{'alpha': 50, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
28,0.000329,0.000022,0.000137,0.000005,50,0.99,"{'alpha': 50, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
29,0.000319,0.000005,0.000140,0.000005,50,1,"{'alpha': 50, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
30,0.000355,0.000028,0.000151,0.000015,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
31,0.000319,0.000002,0.000137,0.000001,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
32,0.000322,0.000009,0.000137,0.000005,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
33,0.000311,0.000001,0.000134,0.000002,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
34,0.000313,0.000004,0.000134,0.000003,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
35,0.000320,0.000008,0.000136,0.000004,100,1,"{'alpha': 100, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17

In [82]:
y_pred = grid_model.predict(X_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

2.3873426420874737