In [5]:
with open(r'DATA/One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [6]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [7]:
with open(r'DATA/Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [8]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [9]:
all_uni_words = set()
all_uni_words.update(uni_words_one)
all_uni_words.update(uni_words_two)

In [10]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [11]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i+1

In [12]:
full_vocab

{'canine': 0,
 'animals': 1,
 'a': 2,
 'about': 3,
 'dogs': 4,
 'are': 5,
 'is': 6,
 'popular': 7,
 'sport': 8,
 'our': 9,
 'this': 10,
 'fun': 11,
 'surfing': 12,
 'waves': 13,
 'water': 14,
 'furry': 15,
 'catching': 16,
 'pets': 17,
 'story': 18}

In [13]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [14]:
with open(r'DATA/One.txt') as f:
    one_text = f.read().lower().split()

In [16]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [17]:
one_freq

[1, 1, 1, 1, 2, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1]

In [18]:
with open(r'DATA/Two.txt') as f:
    two_text = f.read().lower().split()

In [19]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] +=1

In [20]:
two_freq

[0, 0, 1, 1, 0, 0, 3, 1, 1, 0, 1, 1, 2, 1, 1, 0, 1, 0, 1]

In [21]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [24]:
import pandas as pd
bow = pd.DataFrame(data=[one_freq,two_freq], columns=all_words)

In [25]:
bow

,canine,animals,a,about,dogs,are,is,popular,sport,our,this,fun,surfing,waves,water,furry,catching,pets,story
0,1,1,1,1,2,1,1,0,0,1,1,0,0,0,0,1,0,1,1
1,0,0,1,1,0,0,3,1,1,0,1,1,2,1,1,0,1,0,1

### SCIKIT LEARN VERSION

In [26]:
text = ['This is a line', 
       'This is another line',
        'Completely different line'
       ]

In [36]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [38]:
cv = CountVectorizer()
sparse_matrix = cv.fit_transform(text)

In [39]:
sparse_matrix.todense()

matrix([[0, 0, 0, 1, 1, 1],
        [1, 0, 0, 1, 1, 1],
        [0, 1, 1, 0, 1, 0]])

In [40]:
cv.vocabulary_

{'this': 5, 'is': 3, 'line': 4, 'another': 0, 'completely': 1, 'different': 2}

In [37]:
tfidf = TfidfTransformer()

In [41]:
results = tfidf.fit_transform(sparse_matrix) #bag of words to tf idf

In [44]:
results.todense()

matrix([[0.        , 0.        , 0.        , 0.61980538, 0.48133417,
         0.61980538],
        [0.63174505, 0.        , 0.        , 0.4804584 , 0.37311881,
         0.4804584 ],
        [0.        , 0.65249088, 0.65249088, 0.        , 0.38537163,
         0.        ]])

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
tv = TfidfVectorizer()
tv_results = tv.fit_transform(text)
tv_results.todense()

matrix([[0.        , 0.        , 0.        , 0.61980538, 0.48133417,
         0.61980538],
        [0.63174505, 0.        , 0.        , 0.4804584 , 0.37311881,
         0.4804584 ],
        [0.        , 0.65249088, 0.65249088, 0.        , 0.38537163,
         0.        ]])