In [2]:
import numpy as np

#### Numpy is built in linear algebra, distributions, trigonometric and random probabilities formula.

In [3]:
mylist = [1,2,3]
type(mylist)

list

In [4]:
#transform to numpy array
myarr = np.array(mylist)
type(myarr)

numpy.ndarray

In [5]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### sample methods

In [6]:
np.arange(0,101,20) # create range with step size

array([  0,  20,  40,  60,  80, 100])

In [7]:
# first property is row, second property 
# is column for two dimensional datasets
np.zeros((2,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [8]:
np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [9]:
#getting linearly spaced between the numbers
np.linspace(0,10,11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [10]:
#create same number of columns with the same number of rows
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [11]:
#random number between 0 and 1
np.random.rand(1)

array([0.07791785])

In [12]:
#return numbers from standard normal distribution
np.random.randn(2,3)

array([[ 1.40983125,  0.02657634,  2.14078558],
       [ 1.31128915,  0.67024325, -0.55702448]])

In [13]:
#returns random integers
np.random.randint(0, 101, 5)

array([21, 56, 75, 66, 29])

In [14]:
np.random.seed(101)
np.random.rand(4)

array([0.51639863, 0.57066759, 0.02847423, 0.17152166])

In [15]:
##reshaping two dimensional arrays 
arr = np.arange(0,25)
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [16]:
ranarr = np.random.randint(0,101,10)

In [17]:
# get max value
ranarr.max()

92

In [18]:
# get min value
ranarr.min()

4

In [19]:
#get index location of maximum number
ranarr.argmax()

7

In [20]:
#get index location of minimum number
ranarr.argmin()

3

In [21]:
#check datatype of array
ranarr.dtype

dtype('int64')

In [22]:
#get shape of array
arr.shape

(25,)

In [23]:
arr = arr.reshape(5,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [24]:
arr.shape

(5, 5)

####  TASK: Create a numpy array called myarray which consists of 101 evenly linearly spaced points between 0 and 10.

In [27]:
myarray = np.linspace(0, 10, 101)
myarray

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,
        5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,
        7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9, 10. ])

In [28]:
#indexing
arr = np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [29]:
arr[8]

8

In [30]:
arr[1:5]

array([1, 2, 3, 4])

In [31]:
#start at 5 then all the way to the end
arr[5:]

array([ 5,  6,  7,  8,  9, 10])

In [32]:
#start at 0 with 5 values
arr[:5]

array([0, 1, 2, 3, 4])

In [33]:
#broadcasting numpy range
arr[0:5] = 100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [35]:
#slicing
slice_of_arr = arr[0:5]
slice_of_arr[:] = 99
slice_of_arr

array([99, 99, 99, 99, 99])

In [38]:
arr_2d = np.array([[5,10,15],[20,25,30], [35,40,45]])
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [41]:
arr_2d[1][1]

25

In [42]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [43]:
arr = np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [45]:
##conditional arrays
bool_arr = arr > 4

In [46]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [47]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

#### TASK: Use numpy to check how many rolls were greater than 2. For example if dice_rolls=[1,2,3] then the answer is 1.

In [49]:
dice_rolls = np.array([1,2,3])
dice_rolls

array([1, 2, 3])

In [53]:
chosen_rolls = dice_rolls[dice_rolls>2]
len(chosen_rolls)

1

In [55]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
arr-2

array([-2, -1,  0,  1,  2,  3,  4,  5,  6,  7])

In [58]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [59]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [60]:
np.log(arr)

<ipython-input-60-a67b4ae04e95>:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [61]:
arr.sum()

45

In [62]:
arr.mean()

4.5

In [63]:
arr.max()

9

In [64]:
arr.var()

8.25

In [65]:
arr.std()

2.8722813232690143

In [70]:
arr2d = np.arange(0,25).reshape(5,5)
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [69]:
arr2d.sum(axis=0)

array([50, 55, 60, 65, 70])

In [71]:
arr2d.sum(axis=1)

array([ 10,  35,  60,  85, 110])

### 1. Import numpy as np

In [72]:
import numpy as np

### 2. Create an array of 10 zeros

In [74]:
zer_arr = np.zeros(10)
zer_arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### 3. Create an array of 10 ones

In [75]:
one_arr = np.ones(10)
one_arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

### 4. Create an array of 10 fives

In [82]:
five_arr = np.ones(10) * 5
five_arr

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

### 5. Create an array of integers from 10 to 50

In [84]:
int_arr = np.arange(10, 51)
int_arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [85]:
even_arr = np.arange(10,51,2)
even_arr

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

### 7. Create a 3*3 matrix with values ranging from 0 to 8

In [87]:
matrix_3 = np.arange(0,9).reshape(3,3)
matrix_3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

### 8. Create a 3 * 3 identity matrix

In [88]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### 9. Use Numpy to generate random number between 0 and 1

In [90]:
np.random.rand(1)

array([0.0756819])

### 10. Use Numpy to generate an array of 25 random numbers sampled from a standrd normal distribution

In [91]:
np.random.randn(25)

array([ 0.91035914,  2.39810814,  1.43125938,  0.42334746,  0.06208316,
        0.2658639 , -0.09519518,  0.63311363, -0.21413838,  1.43666095,
       -0.28511481,  0.26328773,  1.51080327,  1.69877827, -0.39682137,
       -2.89835198,  0.76999556,  0.546213  ,  1.16893157,  0.98804578,
        0.98761444,  0.44744034,  1.08801834, -0.60188586, -0.27522432])

### 11. create the ff matrix

In [97]:
np.arange(0.01,1.01,0.01).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

### 12. Create an array of 20 linearly spaced points between 0 and 1

In [99]:
arr = np.linspace(0,1,20)
arr

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## NUMPY Indexing and Selection

In [100]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### 13. Write code that reproduces below

In [102]:
mat[2:, 1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

### 14. Write code that reproduces below

In [104]:
mat[3][4]

20

### 15. Write code that reproduces below

In [112]:
mat[:,1:2][:3]

array([[ 2],
       [ 7],
       [12]])

### 16. Write code that reproduces below

In [113]:
mat[-1]

array([21, 22, 23, 24, 25])

### 17. Write code that reproduces below

In [115]:
mat[-2:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### 18. Get sum of all values in mat

In [116]:
mat.sum()

325

### 19. Get std of values in mat

In [117]:
mat.std()

7.211102550927978

### 20. Get sum of all columns in mat

In [118]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

### 21. Always get same set of random numbers

In [120]:
np.random.seed(101)
np.random.rand(1)

array([0.51639863])